html,body {
    background-color: black;
    min-width: 100000px;
}
#heading{
  height: 50px;
  width: 100%;
  background-color:#00BEFF;
  text-align: center;
  position: fixed;
  top:0%;
}
#lower{
  height:100px;
  width: 100%;
  background-color: #00BEFF;
  position:fixed;
  top:96%;
}
#app1{
  background-color:#1B1111;
  height:150px;
  width:1000%;
  position: absolute;
  top:8%;
  color:#FFFFFF;
}
#t{
  position:absolute;
  left:10%;
}
#down{
  position:absolute;
  left:15%;
  top:25%;
  height:100px;
  width:400px;
  font-size: 50px;
  border-radius: 40%;
  border-width: 2.5px;
  border-color:#FFFFFF #FFFFFF;
  background-color: #000000;
  color:#FFFFFF;
}
#imgg{
  height:100px;
  width:100px;
  position:absolute;
  top:25%;
  left:10%;
}