body {
    font-size: 15pt;
}
#heading{
  height: 50px;
  width: 100%;
  background-color:#00BEFF;
  text-align: center;
  position: fixed;
  top:0%;
}
#lower{
  height:100px;
  width: 100%;
  background-color: #00BEFF;
  position:fixed;
  top:96%;
}
#app1{
  background-color:#B7BBF0;
  height:100.5px;
  width:100%;
  position: absolute;
  top:6%;
}
#t{
  position:absolute;
  left:10%;
}
#down{
  position:absolute;
  left:80%;
  height:100px;
  width:200px;
  font-size: 50px;
  border-radius: 30%;
  border-width: 10px;
  border-color: #0015FF #96FF00 #1CFF00  #00DAFF;
  background-color: #29FF00;
}
#imgg{
  height:100px;
  width:100px;
  position:absolute;
  top:5%;;
}